<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
            integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


    <title>Test</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-4 mx-auto">
            <form class="pt-4" enctype="multipart/form-data" action="get_map" method="POST">{% csrf_token %}
                <h2 class="pt-3"> Загрузите свою карту</h2>
                <div class="form-group pt-3">
                    <label for="map_name">Введите название вашей карты</label>
                    <input name="map_name" type="text" class="form-control mx-auto" id="map_name">
                    <label class="pt-2" for="file_input">Загрузите архив</label>
                    <input name="file_field" type="file" class="form-control-file mx-auto" id="file_input"
                           placeholder="Название">
                </div>
                <button type="submit" class="btn btn-primary">Получить картинку</button>
            </form>
            <form class="pt-3" enctype="multipart/form-data" action="search_map" method="POST">{% csrf_token %}
                <h2> Или найдите уже существующую</h2>
                <div class="form-group">
                    <label for="map_search">Поиск по названиею карты</label>
                    <input name="map_search" type="text" class="form-control mx-auto" id="map_search"
                           placeholder="Название">
                    <small id="map_search" class="form-text text-muted">Чтобы увидеть названия всех существующих карт, оставьте поле пустым</small>
                </div>
                <button type="submit" class="btn btn-primary">Поиск</button>
            </form>
        </div>
        {% if maps %}
            {% for map in maps %}
                <div class="col-12 mx-auto text-center">
                    <span class="mt-2">
                        <a href="/map/{{ map.id }}"> {{ map.name }}</a>
                    </span>
                </div>
            {% endfor %}
        {% endif %}

    </div>

</div>

</body>
</html>